# Individual Milestone
## Elise Beaupre
### DATA 604

Our guiding research question for this project is the following:
**Which community in Calgary is the most ideal to buy a house in?**

In particular, I am focusing on crime statistics, using the Community Crime Statistics table from the City of Calgary (City of Calgary, 2025a). I will also use the Current Year Property Assessment table from the City of Calgary to tie in with crime statistics (City of Calgary, 2025b). 

In this individual milestone, I will be focusing on two of our subquestions:
i. Which communities have the lowest and highest crime rates? 
ii. Can we tie property value to crime rates?

My groupmate, Thanusha Balasubramanian, used the Socrata Open Data API (SODA) to pull data from the City of Calgary and load the data into Pandas dataframe objects. She also loaded the dataframe objects into our database with SQL Alchemy. Please see the Appendix to see the preliminary work.

First I created a connection with SQLAlchemy.

In [87]:
from sqlalchemy import create_engine

# assuming the database password is in your current directory (which it is on Cloudlabs by default)
with open("dbpasswd", "r", encoding="utf-8") as f:
    PWD = f.read().strip() 

USER = "student"
DB   = "student"

engine = create_engine(
    f"mysql+mysqlconnector://{USER}:{PWD}@127.0.0.1:3306/{DB}"
)

The original list of communities included residual sub-areas, which are undeveloped areas that are part of the city's planning and development efforts, rather than established communities (City of Calgary, 2019). The communities also included parks, and other non-residential land uses such as the Airport. As we are focusing on established communities where someone could buy a home, these non-residential 'communities' should be removed.  

I used the Community_Points table from the City of Calgary (City of Calgary, 2025c) to filter both the Community Crime table and the Current Year Property Assessment tables down to "residential" properties.

I created views for each of the filtered tables below.

In [88]:
from sqlalchemy import text

with engine.connect() as conn:
    conn.execute(text('''
    CREATE OR REPLACE VIEW filtered_Community_Crime AS
        SELECT cc.* 
        FROM Community_Crime cc
        LEFT JOIN Community_Points cp
        ON cc.community = cp.name
        WHERE cp.class = "Residential"
    '''))
pd.read_sql_query("SELECT DISTINCT community FROM filtered_Community_Crime;", engine)

                        community
0                       ABBEYDALE
1                          ACADIA
2    ALBERT PARK/RADISSON HEIGHTS
3                     ALPINE PARK
4                        ALTADORE
..                            ...
211                      WOODBINE
212                     WOODLANDS
213                     YORKVILLE
214        SCARBORO/ SUNALTA WEST
215                     LEWISBURG

[216 rows x 1 columns]

In [68]:
with engine.connect() as conn:
    conn.execute(text('''
    CREATE OR REPLACE VIEW filtered_Current_Property_Assessments AS
        SELECT cpa.*
        FROM Current_Property_Assessments cpa
        LEFT JOIN Community_Points cp
        ON cpa.comm_name = cp.name
        WHERE cp.class = "Residential"
    '''))
pd.read_sql_query("SELECT DISTINCT comm_name FROM filtered_Current_Property_Assessments;", engine)

               comm_name
0            OSPREY HILL
1            ALPINE PARK
2        DISCOVERY RIDGE
3           WEST SPRINGS
4               PARKDALE
..                   ...
212         DIAMOND COVE
213            HOMESTEAD
214  SYMONS VALLEY RANCH
215    NORTH HAVEN UPPER
216              ROXBORO

[217 rows x 1 columns]

Below is a preview of the structure of the Community_Crime view/data:

In [89]:
import pandas as pd
pd.read_sql_query("SELECT * FROM filtered_Community_Crime LIMIT 10;", engine)

   community                category  crime_count  year  month
0  ABBEYDALE  Assault (Non-domestic)            1  2018      1
1  ABBEYDALE  Assault (Non-domestic)            1  2018      2
2  ABBEYDALE  Assault (Non-domestic)            1  2018      3
3  ABBEYDALE  Assault (Non-domestic)            2  2018      5
4  ABBEYDALE  Assault (Non-domestic)            1  2018      7
5  ABBEYDALE  Assault (Non-domestic)            1  2018     10
6  ABBEYDALE  Assault (Non-domestic)            1  2018     11
7  ABBEYDALE  Assault (Non-domestic)            2  2018     12
8  ABBEYDALE  Assault (Non-domestic)            2  2019      1
9  ABBEYDALE  Assault (Non-domestic)            1  2019      2

Below is a preview of the structure of the Current_Property_Assessments table/view:

In [90]:
pd.read_sql_query("SELECT * FROM filtered_Current_Property_Assessments LIMIT 10;", engine)

,roll_year,roll_number,address,assessed_value,assessment_class,assessment_class_description,nr_assessed_value,comm_code,comm_name,land_use_designation,property_type,land_size_sm,land_size_sf,land_size_ac,mod_date,sub_property_use,unique_key,year_of_construction,re_assessed_value,fl_assessed_value
0,2025,203304043,10110 1 AV SW,42500.0,NR,Non-residential,42500.0,OPH,OSPREY HILL,M-2,LO,690.0,7427.0,0.17,2025-01-10T00:00:00.000Z,ATR,2025203304043960690815,None,None,None
1,2025,203304035,10258 1 AV SW,12500.0,NR,Non-residential,12500.0,OPH,OSPREY HILL,S-UN,LO,210.0,2260.0,0.05,2025-01-10T00:00:00.000Z,ATR,2025203304035960690816,None,None,None
2,2025,203304027,10320 1 AV SW,5000.0,NR,Non-residential,5000.0,OPH,OSPREY HILL,"S-SPR,S-UN",LO,90.0,969.0,0.02,2025-01-10T00:00:00.000Z,ATR,2025203304027960690817,None,None,None
3,2025,203304019,10360 1 AV SW,10000.0,NR,Non-residential,10000.0,OPH,OSPREY HILL,R-G,LO,170.0,1830.0,0.04,2025-01-10T00:00:00.000Z,ATR,2025203304019960690818,None,None,None
4,2025,203304001,10480 1 AV SW,50000.0,NR,Non-residential,50000.0,OPH,OSPREY HILL,M-1,LO,820.0,8827.0,0.20,2025-01-10T00:00:00.000Z,ATR,2025203304001960690812,None,None,None
5,2025,203303995,10560 1 AV SW,15000.0,NR,Non-residential,15000.0,OPH,OSPREY HILL,R-G,LO,230.0,2476.0,0.06,2025-01-10T00:00:00.000Z,ATR,2025203303995960690813,None,None,None
6,2025,203303987,10610 1 AV SW,5000.0,NR,Non-residential,5000.0,OPH,OSPREY HILL,S-UN,LO,90.0,969.0,0.02,2025-01-10T00:00:00.000Z,ATR,2025203303987960690814,None,None,None
7,2025,202265971,1335 STONEY TR SW,0.0,NR,Non-residential,0.0,ALP,ALPINE PARK,S-FUD,LO,243370.0,2619699.0,60.14,2025-01-20T00:00:00.000Z,ATR,2025202265971960624529,None,None,None
8,2025,202265963,1375 STONEY TR SW,0.0,NR,Non-residential,0.0,ALP,ALPINE PARK,S-FUD,LO,136850.0,1473089.0,33.82,2025-01-10T00:00:00.000Z,ATR,2025202265963960624495,None,None,None
9,2025,202265963,1375 STONEY TR SW,0.0,NR,Non-residential,0.0,ALP,ALPINE PARK,S-FUD,LO,136850.0,1473089.0,33.82,2025-01-10T00:00:00.000Z,ATR,2025202265963960624494,None,None,None

**Query 1: What are the top 5 and bottom 5 communities in terms of the total number of crimes in 2024?**  
This query helps to identify which communities are the safest and least safe in the most recent data, which would be important to prospective buyers.

In [91]:
pd.read_sql_query('''
WITH crime_totals AS (
    SELECT community, SUM(crime_count) AS total_crime_2024
    FROM filtered_Community_Crime
    WHERE year=2024
    GROUP BY community
),
ranked_crime AS (
    SELECT *,
        RANK() OVER (ORDER BY total_crime_2024 DESC) AS crime_rank_desc,
        RANK() OVER (ORDER BY total_crime_2024 ASC) AS crime_rank_asc
        FROM crime_totals
)
SELECT community, total_crime_2024, crime_rank_desc, crime_rank_asc
FROM ranked_crime
WHERE crime_rank_desc <= 5 OR crime_rank_asc <= 5
ORDER BY total_crime_2024 DESC;
''', engine)

,community,total_crime_2024,crime_rank_desc,crime_rank_asc
0,BELTLINE,1147.0,1,214
1,DOWNTOWN COMMERCIAL CORE,760.0,2,213
2,FOREST LAWN,410.0,3,212
3,DOWNTOWN EAST VILLAGE,385.0,4,211
4,MARLBOROUGH,309.0,5,209
5,SADDLE RIDGE,309.0,5,209
6,BEL-AIRE,5.0,210,4
7,NORTH HAVEN UPPER,5.0,210,4
8,POINT MCKAY,4.0,212,3
9,DIAMOND COVE,2.0,213,2
10,TWINHILLS,1.0,214,1

**Query 2: Which communities have the most and least stable crime patterns?**  
This query helps us look at the volatility of monthly crime patterns by community. Even if a community has relatively low numbers of crimes, spikes in monthly crime rates can indicate instability, which may be something that potential homebuyers may want to avoid.

In [92]:
pd.read_sql_query('''
    SELECT 
        community,
        STDDEV(crime_count) AS monthly_crime_stddev
    FROM filtered_Community_Crime
    GROUP BY community
    ORDER BY monthly_crime_stddev DESC;
''', engine)

                    community  monthly_crime_stddev
0                    BELTLINE               17.9143
1    DOWNTOWN COMMERCIAL CORE               13.4612
2       DOWNTOWN EAST VILLAGE                5.8021
3                 FOREST LAWN                4.4082
4                   HILLHURST                4.0141
..                        ...                   ...
211           CURRIE BARRACKS                0.2927
212             GLACIER RIDGE                0.2875
213               WOLF WILLOW                0.2386
214                 TWINHILLS                0.0000
215                 LEWISBURG                0.0000

[216 rows x 2 columns]

It looks like the Beltline has the highest standard deviation in terms of the monthly number of crimes, suggesting there is some instability.

**Query 3a: Which communities have shown the greatest increase or decrease in crime from 2018 to 2024?**  
This query helps to identify which communities prospective home buyers may want to avoid because they have rising crime rates, or to keep an eye on because the crime rates are falling.

In [93]:
pd.read_sql_query('''
SELECT
    community,
    SUM(CASE WHEN year=2018 THEN crime_count ELSE 0 END) AS crime_2018,
    SUM(CASE WHEN year=2024 THEN crime_count ELSE 0 END) AS crime_2024,
    SUM(CASE WHEN year=2024 THEN crime_count ELSE 0 END) - SUM(CASE WHEN year=2018 THEN crime_count ELSE 0 END) AS crime_change
FROM filtered_Community_Crime
GROUP BY community
ORDER BY crime_change ASC;
''', engine)

                    community  crime_2018  crime_2024  crime_change
0                    BELTLINE      1729.0      1147.0        -582.0
1    DOWNTOWN COMMERCIAL CORE      1149.0       760.0        -389.0
2                     BOWNESS       494.0       240.0        -254.0
3                    BANKVIEW       348.0       108.0        -240.0
4                   PINERIDGE       417.0       193.0        -224.0
..                        ...         ...         ...           ...
211                CARRINGTON         8.0        48.0          40.0
212                LIVINGSTON         4.0        58.0          54.0
213               CORNERSTONE        17.0       133.0         116.0
214                     SETON        48.0       179.0         131.0
215     DOWNTOWN EAST VILLAGE       133.0       385.0         252.0

[216 rows x 4 columns]

The communities with the biggest *decrease* in crime from 2018 to 2024 were:  
* 1: BELTLINE
* 2: DOWNTOWN COMMERCIAL CORE
* 3: BOWNESS
* 4: BANKVIEW
* 5: PINERIDGE  


The communities with the biggest *increase* in crime from 2018 to 2024 were:  
* 1: DOWNTOWN EAST VILLAGE
* 2: SETON
* 3: CORNERSTONE
* 4: LIVINGSTON
* 5: CARRINGTON

**Query 3b: Which communities have shown the greatest *proportional* increase or decrease in crime from 2018 to 2024 ?**  
This builds on the first half of this query, by looking at the change in crime rate by community *relative to the community's 2018 crime rate*. Using the percentage change helps identify communities with rapid shifts, not just big numbers. This helps identify which communities are *strongly* improving or *strongly* worsening in terms of crime rates. To ensure the proportional change metrics are meaningful, I excluded communities that had less than 10 crimes in 2018. This was done to reduce noise from small-number effects from the very small communities, and focuses this analysis on communities with a substantial crime presence.

In [94]:
pd.read_sql_query('''
    WITH crime_change AS (
        SELECT 
            community,
            SUM(CASE WHEN year = 2018 THEN crime_count ELSE 0 END) AS crime_2018,
            SUM(CASE WHEN year = 2024 THEN crime_count ELSE 0 END) AS crime_2024
        FROM filtered_Community_Crime
        GROUP BY community
        HAVING SUM(CASE WHEN year = 2018 THEN crime_count ELSE 0 END) >= 10
    )
    SELECT
        community,
        crime_2018,
        crime_2024,
        ROUND(100 * (crime_2024 - crime_2018) / crime_2018, 2) AS pct_crime_change
    FROM crime_change
    ORDER BY pct_crime_change ASC;
''', engine)

                 community  crime_2018  crime_2024  pct_crime_change
0              COLLINGWOOD        89.0        15.0            -83.15
1               COACH HILL        61.0        12.0            -80.33
2       UNIVERSITY HEIGHTS        73.0        15.0            -79.45
3              POINT MCKAY        18.0         4.0            -77.78
4              NORTH HAVEN        48.0        11.0            -77.08
..                     ...         ...         ...               ...
190              CITYSCAPE        37.0        62.0             67.57
191              BELVEDERE        24.0        58.0            141.67
192  DOWNTOWN EAST VILLAGE       133.0       385.0            189.47
193                  SETON        48.0       179.0            272.92
194            CORNERSTONE        17.0       133.0            682.35

[195 rows x 4 columns]

The communities with the biggest percentage *decrease* in crime from 2018 to 2024, relative to the 2018 rate were:  
* 1: COLLINGWOOD
* 2: COACH HILL
* 3: UNIVERSITY HEIGHTS
* 4: POINT MCKAY	
* 4: NORTH HAVEN  


The communities with the biggest percentage *increase* in crime from 2018 to 2024, relative to the 2018 rate were: 
* 1: CORNERSTONE
* 2: SETON
* 3: DOWNTOWN EAST VILLAGE
* 4: BELVEDERE
* 5: CITYSCAPE

We can see that Cornerstone and Seton are in the top 5 communities with large icreasing crime rates, whether looking at absolute or proportional change in crime rate from 2018 to 2024. This is a good sign that these communities truly have strong increases in crime.

**Query 4a: Which categories of crime are most prevalent in each community?**  
This query breaks down the total crime in 2024 in each community by the category of crimes. This could help potential home buyers not only know how much crime happens, but the kind of crime that happens, which can help them assess safety. For example, two communities could have similar numbers of overall crimes, but if one has a higher proportion of thoise crimes that are violent in nature, the communities could feel very different safety-wise.

In [95]:
pd.read_sql_query('''
    SELECT 
        community,
        category,
        SUM(crime_count) as total_crime_2024
    FROM filtered_Community_Crime
    WHERE year = 2024
    GROUP BY community, category
    ORDER BY community, total_crime_2024 DESC;
''', engine)

      community                          category  total_crime_2024
0     ABBEYDALE                Theft FROM Vehicle              30.0
1     ABBEYDALE                  Theft OF Vehicle              18.0
2     ABBEYDALE            Assault (Non-domestic)              17.0
3     ABBEYDALE  Violence  'Other' (Non-domestic)               9.0
4     ABBEYDALE          Break & Enter - Dwelling               6.0
...         ...                               ...               ...
1554  WOODLANDS                    Street Robbery               1.0
1555  YORKVILLE                Theft FROM Vehicle               3.0
1556  YORKVILLE  Violence  'Other' (Non-domestic)               2.0
1557  YORKVILLE        Break & Enter - Commercial               1.0
1558  YORKVILLE                  Theft OF Vehicle               1.0

[1559 rows x 3 columns]

**Query 4b: Which communities have the highest rates of *violent* crimes in 2024**  
There are 9 categories of crime included in the table:
* Assault (Non-domestic)
* Break & Enter - Commercial
* Break & Enter - Dwelling
* Theft FROM Vehicle
* Theft OF Vehicle
* Violence  'Other' (Non-domestic)
* Street Robbery
* Commercial Robbery
* Break & Enter - Other Premises

I am considering "Assault (Non-domestic)", "Violence  'Other' (Non-domestic)", "Street Robbery", and "Commercial Robbery" as violent crimes. It would be important for home buyers to not only know how much crime occurs, but specifically violent crimes. High violent crime rates would likely be a stronger deterrent for a home buyer than high property crimes.

In [98]:
pd.read_sql_query('''
    SELECT 
        community,
        SUM(crime_count) as violent_crime_2024
    FROM filtered_Community_Crime
    WHERE year = 2024 AND category IN ('Assault (Non-domestic)', 'Violence  \\'Other\\' (Non-domestic)', 'Street Robbery', 'Commercial Robbery')
    GROUP BY community
    ORDER BY violent_crime_2024 DESC;
''', engine)

                    community  violent_crime_2024
0                    BELTLINE               472.0
1    DOWNTOWN COMMERCIAL CORE               389.0
2       DOWNTOWN EAST VILLAGE               255.0
3                 FOREST LAWN               151.0
4                 MARLBOROUGH               136.0
..                        ...                 ...
191                   ROXBORO                 1.0
192                  SCARBORO                 1.0
193            SHAWNEE SLOPES                 1.0
194                 SILVERADO                 1.0
195    SCARBORO/ SUNALTA WEST                 1.0

[196 rows x 2 columns]

In [99]:
pd.read_sql_query('''
SELECT DISTINCT category
FROM filtered_Community_Crime
WHERE year = 2024;
''', engine)

                           category
0            Assault (Non-domestic)
1        Break & Enter - Commercial
2          Break & Enter - Dwelling
3    Break & Enter - Other Premises
4                Commercial Robbery
5                    Street Robbery
6                Theft FROM Vehicle
7                  Theft OF Vehicle
8  Violence  'Other' (Non-domestic)

In [102]:
violent_crime_df = pd.read_sql_query('''
    SELECT 
        community,
        SUM(CASE WHEN category IN (
            'Assault (Non-domestic)',
            'Violence  \\'Other\\' (Non-domestic)',
            'Street Robbery',
            'Commercial Robbery'
            ) THEN crime_count ELSE 0 END) AS violent_crime_2024,
        SUM(crime_count) as total_crime_2024,
        ROUND(100 * SUM(CASE WHEN category IN (
            'Assault (Non-domestic)',
            'Violence  \\'Other\\' (Non-domestic)',
            'Street Robbery',
            'Commercial Robbery'
            ) THEN crime_count ELSE 0 END) / SUM(crime_count), 2) AS pct_violent_crime_2024
    FROM filtered_Community_Crime
    WHERE year = 2024
    GROUP BY community
    ORDER BY violent_crime_2024 DESC;
''', engine)
violent_crime_df

,community,violent_crime_2024,total_crime_2024,pct_violent_crime_2024
0,BELTLINE,472.0,1147.0,41.15
1,DOWNTOWN COMMERCIAL CORE,389.0,760.0,51.18
2,DOWNTOWN EAST VILLAGE,255.0,385.0,66.23
3,FOREST LAWN,151.0,410.0,36.83
4,MARLBOROUGH,136.0,309.0,44.01
...,...,...,...,...
209,SYMONS VALLEY RANCH,0.0,16.0,0.00
210,TWINHILLS,0.0,1.0,0.00
211,UPPER MOUNT ROYAL,0.0,50.0,0.00
212,WOLF WILLOW,0.0,15.0,0.00
213,YORKVILLE,0.0,7.0,0.00

Again, we see neighbourhoods like the Beltline, the Downtown Core/East Village, and Forest Lawn high at the top, this time for specifically violent crimes.  

We can also reorder the result to be sorted by the percentage of crime in the community that is violent. Again, Downtown East Village and Downtown Commercial Core make an appearance. Additionally, other communities like St.Andrew Heights and Country Hills Village show up, which have high proportions of violent crimes.

In [106]:
violent_crime_df.sort_values(by="pct_violent_crime_2024", ascending=False)

,community,violent_crime_2024,total_crime_2024,pct_violent_crime_2024
2,DOWNTOWN EAST VILLAGE,255.0,385.0,66.23
15,ST. ANDREWS HEIGHTS,47.0,89.0,52.81
1,DOWNTOWN COMMERCIAL CORE,389.0,760.0,51.18
38,COUNTRY HILLS VILLAGE,30.0,60.0,50.00
53,EAGLE RIDGE,23.0,50.0,46.00
...,...,...,...,...
209,SYMONS VALLEY RANCH,0.0,16.0,0.00
210,TWINHILLS,0.0,1.0,0.00
211,UPPER MOUNT ROYAL,0.0,50.0,0.00
212,WOLF WILLOW,0.0,15.0,0.00
213,YORKVILLE,0.0,7.0,0.00

**Query 5: Compare crime rates by community and median assessed property values by community to look for a relationship between crime and property assessments.**  
This query directly supports our investigation subquestion of whether there is a correlation between safety (low crime rates) and assessed property values. This query allows my group to create a scatterplot or do correlation analysis in Python with the result (which is why I saved the query result as a Pandas dataframe).

In [60]:
#MariaDB didn't have a built in MEDIAN function so I manually calculated an estimated median by ordering the 
#assessed value and finding the average of the middle values based on row position

crime_and_assessed_value_df = pd.read_sql_query('''
    WITH 
    ranked_values AS ( 
        SELECT comm_name,
            assessed_value,
            ROW_NUMBER() OVER (PARTITION BY comm_name ORDER BY assessed_value) AS rn,
            COUNT(*) OVER (PARTITION BY comm_name) AS total
        FROM filtered_Current_Property_Assessments
        WHERE roll_year = 2025
    ),
    median_values AS (
        SELECT comm_name, 
            AVG(assessed_value) AS median_value_2025
        FROM ranked_values
        WHERE rn IN (FLOOR((total+1)/2), CEIL((total+1)/2)) 
        GROUP BY comm_name
    ),
    crime_totals AS (
        SELECT community, SUM(crime_count) AS total_crime_2024
        FROM filtered_Community_Crime
        WHERE year = 2024
        GROUP BY community
    )
    SELECT
        ct.community,
        ct.total_crime_2024,
        ROUND(mv.median_value_2025, 2) AS median_value_2025
    FROM crime_totals ct
    JOIN median_values mv 
    ON ct.community = mv.comm_name
    ORDER BY ct.total_crime_2024 DESC;
''', engine)
crime_and_assessed_value_df

                    community  total_crime_2024  median_value_2025
0                    BELTLINE            1147.0           232000.0
1    DOWNTOWN COMMERCIAL CORE             760.0           160000.0
2                 FOREST LAWN             410.0           469500.0
3       DOWNTOWN EAST VILLAGE             385.0           330250.0
4                 MARLBOROUGH             309.0           518500.0
..                        ...               ...                ...
205                  BEL-AIRE               5.0          2425000.0
206         NORTH HAVEN UPPER               5.0           687500.0
207               POINT MCKAY               4.0           589500.0
208              DIAMOND COVE               2.0           762000.0
209                 TWINHILLS               1.0            38500.0

[210 rows x 3 columns]

In [47]:
engine.dispose()

## References
City of Calgary. (2019). 2019 Civic Census Results (PDF). https://www.calgary.ca/info-requests/civic-census.html?redirect=%2Fcensus  

City of Calgary. (2025a). Community Crime Statistics [Data set]. Open Calgary. https://data.calgary.ca/Health-
and-Safety/Community-Crime-Statistics/78gh-n26t/about_data  

City of Calgary. (2025b). Current Year Property Assessments (Parcel) [Data set]. Open Calgary.
https://data.calgary.ca/Government/Current-Year-Property-Assessments-Parcel-/4bsw-nn7w/about_data  

City of Calgary. (2025c). Community Points [Data set]. Open Calgary. https://data.calgary.ca/Base-
Maps/Community-Points/j9ps-fyst/about_data

## Appendix

### 1. Set Up SODA API

```python
import pandas as pd
from sodapy import Socrata

# Read a text file with the app token
with open("Calgary_App_Token.txt", "r", encoding="utf-8") as f:
    App_Token = f.read().strip() 

# Use Access token to pull tables
client = Socrata("data.calgary.ca", App_Token)
```

### 2. Pull Community Crime Stats

```python
## Get Comunity Crime Stats
com_crime = client.get("78gh-n26t", limit = 100000)
com_crime_df = pd.DataFrame.from_records(com_crime)
com_crime_df
```

### 3. Pull Current Year (2025) Property Assessments

In [ ]:
```python
## Get Current Property Assessments
curr_prop = client.get("4bsw-nn7w", limit = 1000000)
curr_prop_df = pd.DataFrame.from_records(curr_prop)
curr_prop_df
```

### 4. Clean the community services data frame

In [ ]:
# start from your existing DataFrame com_crime_df
cleaned_com_crime = com_crime_df.copy()

# drop the original point column if present
if "point" in cleaned_com_crime.columns:
    cleaned_com_crime = cleaned_com_crime.drop(columns=["point"])

# remove leading @ from column names (common with Socrata computed_region fields)
cleaned_com_crime = cleaned_com_crime.rename(columns=lambda c: c.lstrip("@"))

# drop any column whose name contains 'computed_region' (case-insensitive)
cols_to_drop = [c for c in cleaned_com_crime.columns if "computed_region" in c.lower()]
if cols_to_drop:
    cleaned_com_crime = cleaned_com_crime.drop(columns=cols_to_drop)

# normalize common empty markers to pandas NA so they become SQL NULLs later
cleaned_com_crime = cleaned_com_crime.replace({"": pd.NA, "NA": pd.NA, "N/A": pd.NA})

# convert every column to pandas StringDtype to preserve raw text and missingness
cleaned_com_crime = cleaned_com_crime.astype("string")

# coerce numeric columns to appropriate nullable integer dtypes
# - crime_count should be an integer count
# - year and month should be integers if they represent numeric values
for col in ("crime_count", "year", "month"):
    if col in cleaned_com_crime.columns:
        cleaned_com_crime[col] = pd.to_numeric(
            cleaned_com_crime[col], errors="coerce"
        ).astype("Int64")

# quick check
cleaned_com_crime.dtypes

### 5. Clean the property assessments data frame

In [ ]:
import pandas as pd
import numpy as np

# start from your existing DataFrame curr_prop_df
cleaned_curr_prop = curr_prop_df.copy()

# 1) drop spatial or raw geometry and point columns if present
for col in ("point", "multipolygon", "geometry"):
    if col in cleaned_curr_prop.columns:
        cleaned_curr_prop = cleaned_curr_prop.drop(columns=[col])

# 2) remove leading @ from column names and normalize case
cleaned_curr_prop = cleaned_curr_prop.rename(columns=lambda c: c.lstrip("@").strip())

# 3) drop any column whose name contains 'computed_region' (case-insensitive)
cols_to_drop = [c for c in cleaned_curr_prop.columns if "computed_region" in c.lower()]
if cols_to_drop:
    cleaned_curr_prop = cleaned_curr_prop.drop(columns=cols_to_drop)

# 4) normalize common empty markers to pandas NA so they become SQL NULLs later
cleaned_curr_prop = cleaned_curr_prop.replace({"": pd.NA, "NA": pd.NA, "N/A": pd.NA, "null": pd.NA})

# 5) convert general textual columns to pandas StringDtype to preserve missingness
#    but avoid overwriting columns that should remain numeric
numeric_expected = {
    "roll_year": "Int64",
    "year_of_construction": "Int64",
    "assessed_value": "Float64",
    "nr_assessed_value": "Float64",
    "re_assessed_value": "Float64",
    "fl_assessed_value": "Float64",
    "land_size_sm": "Float64",
    "land_size_sf": "Float64",
    "land_size_ac": "Float64",
}

skip_cols = set(numeric_expected.keys()) | {"roll_number"}
for c in cleaned_curr_prop.columns:
    if c not in skip_cols:
        cleaned_curr_prop[c] = cleaned_curr_prop[c].astype("string")

# 6) coerce numeric columns to appropriate nullable dtypes (assumes values are already plain numbers)
for col, dtype in numeric_expected.items():
    if col in cleaned_curr_prop.columns:
        cleaned_curr_prop[col] = pd.to_numeric(
            cleaned_curr_prop[col], errors="coerce"
        ).astype(dtype)

# 7) ensure roll_number remains a clean string (no leading/trailing spaces)
if "roll_number" in cleaned_curr_prop.columns:
    cleaned_curr_prop["roll_number"] = cleaned_curr_prop["roll_number"].astype("string").str.strip()

# 8) final quick checks (view dtypes and a few rows)
cleaned_curr_prop.dtypes

### 6. Load cleaned Community Crime dataframe into the SQL tables

In [ ]:
##load the community crime data (overwrite any exsisting tables)
cleaned_com_crime.to_sql('Community_Crime', con=engine, if_exists="replace", index=False)

### 7. Load the cleaned Current Year Property Assessments into SQL tables 
This is completed in chunks as the table is very large (over 500 k  rows of data).

In [ ]:
import math

# parameters
table_name = "Current_Property_Assessments"
chunksize = 25000

# ensure table is created fresh once, then append chunks
# create empty table first by writing zero rows (preserves dtypes chosen by pandas)
cleaned_curr_prop.head(0).to_sql(table_name, con=engine, if_exists="replace", index=False)

nrows = len(cleaned_curr_prop)
nchunks = math.ceil(nrows / chunksize)

for i, start in enumerate(range(0, nrows, chunksize), start=1):
    chunk = cleaned_curr_prop.iloc[start : start + chunksize]
    chunk.to_sql(table_name, con=engine, if_exists="append", index=False, method="multi")
    print(f"Chunk {i}/{nchunks} written ({min(start + chunksize, nrows)}/{nrows} rows)")
print("All chunks written.")

In [ ]:
engine.dispose()